main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.maingrid {
display: grid;
height: 80vh;
margin-top: 1.5%;
grid-template-columns: 3fr 9fr;
}
.productdetail {
  height: 100%;
  width: 100%;
}
.retailers {
  margin-left: 3.8%;
  overflow-y: scroll;
}