main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search {
  align-self: center;
}
.maingrid {
display: grid;
margin-top: 1.5%;
height: 100%;
grid-template-columns: 3fr 9fr;
}
.productdetail {
  height: 100%;
  border: 1px solid indianred;
}
.retailers {
  display: grid;
  margin-left: 2%;
  column-gap: 2%;
  row-gap: 4%;
  overflow-x: hidden;
  grid-template-columns: 1fr 1fr;
  border: 1px solid indigo;
}