main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.imagedetail > img {
  width: 100%;
  object-fit: fill;
}
.description {
  flex: 1;
  padding: 4%;
  padding-left: 0;
}