
.hero-section {
  display: flex;
  min-height: 100%;
  padding: 64px 24px;
  justify-content: center;
  align-items: flex-start;
}

.card-grid {
  width: 100%;
  display: grid;
  max-width: 1200px;
  grid-row-gap: 64px;
  grid-column-gap: 34px;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  height: 100%;
  border-radius: 35px;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 35px;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
  border-radius: 35px;
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
}
.uppercontent {
  flex: 1;
}
.lowercontent {
  color: white;
  text-decoration: none;
}

.card__category {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.card__heading {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
