<main>
  <div class="image">
    <img [src]="item.image" />
  </div>
  <div class="content">
    <div class="productdetail">
      <p>{{ item.name }}</p>
      <div>includes:</div>
      <ul>
        <li *ngFor="let includedItem of item.included">{{ includedItem.includedItem }}</li>
      </ul>
    </div>
  </div>
  <div class="detail">
    <div class="price">
      <h1>${{ item.salesPrice }}</h1>
    </div>

    <div
         [ngClass]="item.onlineAvailability ? 'instock' : 'outstock'"
         class="availability">
      <p [innerText]="item.onlineAvailability ? 'In Stock' : 'Out of Stock'"></p>
    </div>

    <div class="categories">
      <div
           type="button"
           (click)="onBuyNow(item.addCartUrl)"
           class="btn btn-success buy">Buy now</div>
      <div class="wish">
        <div
             class="icon"
             (click)="changeColor('wishlist')"
             [ngStyle]="{color: wishlist ? 'red' : 'black'}">
          <i class="fa fa-heart"></i>
        </div>
        <div
             class="icon"
             (click)="changeColor('watchlist')"
             [ngStyle]="{color: watchlist ? 'dodgerblue' : 'black', pointerEvents: isAuthenticated}">
          <i class="fa fa-camera"></i>
        </div>
      </div>
    </div>
  </div>
</main>