<section class="hero-section">
  <div class="card-grid">
    <div class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.hermanmiller.group/m/b79f4b3c94638cb1/W-PD_1390_314909.png?blend-mode=darken&blend=f8f8f8&trim-color=ffffff&trim=color&bg=f8f8f8&auto=format&w=2000&h=1000&q=60)"></div>
      <div class="card__content">
        <div class="uppercontent">
          <p class="card__category">Laura Davidson Direct</p>
          <h5 class="card__heading">Laura Davidson Furniture Office</h5>
        </div>
        <div class="lowercontent">
          <h5>$235.00</h5>
          <p>Free shipping</p>
        </div>
      </div>

    </div>
    <div class="card" href="#">
      <div class="card__background" style="background-image: url(https://d2skuhm0vrry40.cloudfront.net/2020/articles/2020-11-05-12-00/sony-wont-sell-ps5-in-shops-in-japan-due-to-coronavirus-1604577658764.jpg/EG11/thumbnail/750x422/format/jpg/quality/60)"></div>
      <div class="card__content">
        <div class="uppercontent">
          <p class="card__category">Sony</p>
          <h3 class="card__heading">Play Station Five digital</h3>
        </div>
        <div class="lowercontent">
          <h5>$400.00</h5>
          <p>Free shipping</p>
        </div>
      </div>
    </div>

    <div class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.hermanmiller.group/m/b79f4b3c94638cb1/W-PD_1390_314909.png?blend-mode=darken&blend=f8f8f8&trim-color=ffffff&trim=color&bg=f8f8f8&auto=format&w=2000&h=1000&q=60)"></div>
      <div class="card__content">
        <div class="uppercontent">
          <p class="card__category">Laura Davidson Direct</p>
          <h5 class="card__heading">Laura Davidson Furniture Office</h5>
        </div>
        <div class="lowercontent">
          <h5>$235.00</h5>
          <p>Free shipping</p>
        </div>
      </div>

    </div>
    <div class="card" href="#">
      <div class="card__background" style="background-image: url(https://d2skuhm0vrry40.cloudfront.net/2020/articles/2020-11-05-12-00/sony-wont-sell-ps5-in-shops-in-japan-due-to-coronavirus-1604577658764.jpg/EG11/thumbnail/750x422/format/jpg/quality/60)"></div>
      <div class="card__content">
        <div class="uppercontent">
          <p class="card__category">Sony</p>
          <h3 class="card__heading">Play Station Five digital</h3>
        </div>
        <div class="lowercontent">
          <h5>$400.00</h5>
          <p>Free shipping</p>
        </div>
      </div>
    </div>
    <div class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.hermanmiller.group/m/b79f4b3c94638cb1/W-PD_1390_314909.png?blend-mode=darken&blend=f8f8f8&trim-color=ffffff&trim=color&bg=f8f8f8&auto=format&w=2000&h=1000&q=60)"></div>
      <div class="card__content">
        <div class="uppercontent">
          <p class="card__category">Laura Davidson Direct</p>
          <h5 class="card__heading">Laura Davidson Furniture Office</h5>
        </div>
        <div class="lowercontent">
          <h5>$235.00</h5>
          <p>Free shipping</p>
        </div>
      </div>

    </div>
    <div class="card" href="#">
      <div class="card__background" style="background-image: url(https://d2skuhm0vrry40.cloudfront.net/2020/articles/2020-11-05-12-00/sony-wont-sell-ps5-in-shops-in-japan-due-to-coronavirus-1604577658764.jpg/EG11/thumbnail/750x422/format/jpg/quality/60)"></div>
      <div class="card__content">
        <div class="uppercontent">
          <p class="card__category">Sony</p>
          <h3 class="card__heading">Play Station Five digital</h3>
        </div>
        <div class="lowercontent">
          <h5>$400.00</h5>
          <p>Free shipping</p>
        </div>
      </div>
    </div>
    <div class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.hermanmiller.group/m/b79f4b3c94638cb1/W-PD_1390_314909.png?blend-mode=darken&blend=f8f8f8&trim-color=ffffff&trim=color&bg=f8f8f8&auto=format&w=2000&h=1000&q=60)"></div>
      <div class="card__content">
        <div class="uppercontent">
          <p class="card__category">Laura Davidson Direct</p>
          <h5 class="card__heading">Laura Davidson Furniture Office</h5>
        </div>
        <div class="lowercontent">
          <h5>$235.00</h5>
          <p>Free shipping</p>
        </div>
      </div>

    </div>
    <div class="card" href="#">
      <div class="card__background" style="background-image: url(https://d2skuhm0vrry40.cloudfront.net/2020/articles/2020-11-05-12-00/sony-wont-sell-ps5-in-shops-in-japan-due-to-coronavirus-1604577658764.jpg/EG11/thumbnail/750x422/format/jpg/quality/60)"></div>
      <div class="card__content">
        <div class="uppercontent">
          <p class="card__category">Sony</p>
          <h3 class="card__heading">Play Station Five digital</h3>
        </div>
        <div class="lowercontent">
          <h5>$400.00</h5>
          <p>Free shipping</p>
        </div>
      </div>
    </div>

  </div>
</section>