<main>
  <div class="topleft scaler">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  <div class="topright wobble_one"></div>
  <div class="bottomright"></div>
  <div class="bottomleft wobble_two"></div>
  <div class="wrapper">
    <div class="signup">
      <img class="login_simulator" src="https://grubini-images.s3.amazonaws.com/gifttracker/login_simulator.png" />
      <button type="button" class="sign_btn btn btn-dark">Sign up</button>
    </div>
    <!-- <div class="divider div-transparent"></div> -->
    <div class="login">
      <div class="login_form col-10">
        <img id="logo" src="https://grubini-images.s3.amazonaws.com/gifttracker/gift-box.png" />
        <div class="control">
          <label class="form-label">Email address</label>
          <input type="email" class="form-control" />
        </div>
        <div class="control">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" />
        </div>
        <a href="#">Forgot password</a>
        <div class="login_btn">
          <button
                  type="button"
                  (click)="onLogin()"
                  class="btn btn-success">Sign in</button>
        </div>
      </div>
    </div>
  </div>
</main>