$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 64px;
$width-container: 1200px;
$background-dark: #2d3548;
$text-light: rgba(255,255,255,0.6);
$text-lighter: rgba(255,255,255,0.9);

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: 590px;
  min-width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.hero-section{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: $spacing-xxl $spacing-l;
}

.card-grid{
  width: 100%;
  display: grid;
  grid-row-gap: $spacing-l;
  grid-column-gap: $spacing-l;
  grid-template-columns: repeat(1, 1fr);
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}