$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 64px;
$width-container: 1200px;
$background-dark: #2d3548;
$text-light: rgba(255,255,255,0.6);
$text-lighter: rgba(255,255,255,0.9);

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.card{
  list-style: none;
  position: relative;
  cursor: pointer;
  background: transparent;
  border-radius: $spacing-l;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $spacing-l;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  position: absolute;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: $spacing-l;
  position: absolute;
  top: 0;
}

.card__category{
  color: $text-light;
  font-size: 0.9rem;
  margin-bottom: $spacing-s;
  text-transform: uppercase;
}

.card__heading{
  color: $text-lighter;
  font-size: 1.5rem;
  margin-bottom: 6%;
  height: 30%;
  width: 100%;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}
