<footer>
  <div class="bodyfooter">
    <div class="logo" routerLink="/">
      <a href="#">
        <img src="https://grubini-images.s3.amazonaws.com/gifttracker/giftfooter.png" />
        <h5>tracker</h5>
      </a>
    </div>
    <div class="content">
      <div class="started">
        <ul>
          <h6>Get Started</h6>
          <li>Home</li>
          <li>Sign up</li>
          <li>Dashboard</li>
        </ul>
      </div>
      <div class="about">

        <ul>
          <h6>About us</h6>
          <li>Company</li>
          <li>Contacts us</li>
          <li>Reviews</li>
        </ul>
      </div>
      <div class="support">
        <ul>
          <h6>Support</h6>
          <li routerLink="/">Home</li>
          <li>Sign up</li>
          <li>Dashboard</li>
        </ul>
      </div>
    </div>
    <div class="social">
      <div class="innersocial">
        <img class="icon" src="https://grubini-images.s3.amazonaws.com/gifttracker/twitter.png" />
        <img class="icon fa" src="https://grubini-images.s3.amazonaws.com/gifttracker/facebook.png" />
        <img class="icon" src="https://grubini-images.s3.amazonaws.com/gifttracker/google-plus.png" />
      </div>
      <div class="button">Contact us</div>
    </div>
  </div>
  <div class="endfooter">
    @ 2020 Copyright GiftTracker
  </div>
</footer>