main {
  width: 90%;
}
footer {
  width: 100%;
  height: 310px;
  margin: 1% 0;
  display:flex;
  color: lightgray;
  flex-direction: column;

}


.container-fluid {
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-direction: column;
}
.top {
  display: flex;
}
.products, .watchlist, .wishlist, .birthdaytracker, .activeorders {
  background-color: transparent;
}
.products {
  flex: 4;


  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}
.products > img {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.under {
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: 2%;
}
.birthdaytracker {
  flex: 1;
  margin-right: 1%;
  height: 100%;
}
.birthdaytracker > img {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.activeorders {
  flex: 1;
  margin-left: 1%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://yb4ke1guf9g32qn4pnt1k17m-wpengine.netdna-ssl.com/wp-content/uploads/2019/01/difference-between-purchase-order-and-packing-slip.jpg");
}
.info {
  text-align: center;
  align-self: center;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card:hover .info {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.card:before {
  top: 0;
  left: 0;
  opacity: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
}

.watchlist {
  flex: 1;
  width: 100%;
  display: flex;
  margin-bottom: 5%;
  min-height: 272px;
  align-items: center;
  background-color: #A8A8CB;
  justify-content: center;
}
.watchlist > img {
  z-index: 1;
  width: 90%;
  height: 80%;
  position: absolute;
}

.wishlist {
  flex: 1;
  width: 100%;
  margin-top: 5%;
  display: flex;
  min-height: 272px;
  align-items: center;
  justify-content: center;
  background-color: #AAAABC;
}
.wishlist > img {
  z-index: 1;
  height: 80%;
  width: 90%;
  object-fit: contain;
  position: absolute;
}

.bodyfooter {
  flex: 1;
  padding: 1%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
}
.endfooter {
  text-align: center;
  color: gray;
  background-color: #242742;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
}
.logo > a {
  display: flex;
  color: white;
  letter-spacing: 2px;
  align-items: flex-end;
  text-decoration: none;
}
.content {
  flex: 3;
  display: flex;
}
.started {
  flex: 1;
}
.about {
  flex: 1;
}
.support {
  flex: 1;
}
.social {
  flex: 2;
}

.started, .about, .support {
  display: flex;
  text-align: justify;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.started > ul > h6, .about > ul > h6, .support > ul > h6 {
  color: white;
}

.started > ul, .about > ul, .support > ul {
  color: grey;
  list-style: none;
  padding-left: 0;
}
.started > ul > li, .about > ul > li, .support > ul > li {
  margin: 6% 0;
}
.started > ul > li:hover, .about > ul > li:hover, .support > ul > li:hover {
  color: white;
 }

.innersocial {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 auto;
}
.icon {
  cursor: pointer;
  height: 35px;
  width: 35px;
}
.icon:hover {
  transform: scale(1.2);
  transition: 0.8s ease-in-out;
}
.fa {
  margin-bottom: 4%;
  height: 25px;
  width: 25px;
}

.button {
  cursor: pointer;
  width: 40%;
  padding: 2%;
  margin: 4% auto;
  text-align: center;
  border-radius: 40px;
  background-color: #8CA1FF;
}
.button:hover {
  background-color: #A3A3C6;
}